
a {
    color:rgb(144, 87, 7);
  }
  a:hover {
    color: rgb(209, 127, 12);
  }
  
ul.sas {
    list-style: none;
  }

  li{
    padding:5px;
  }
  
  ul.sas li::before {
    content: "\2022";
    color: rgb(26, 174, 215);
    font-weight: bold;
    font-size: 22px;
    display: inline-block; 
    width: 2em;
    margin-left: -1em;
  }
#sause{
    color: rgb(137, 165, 194);
    margin-left: 1rem;
}
#navv{
    font-size: 18px;
  }
  #navbardropdown{
    font-size: 20px;
  }
  #drop{
    background-color: #98bde2;
  }

  .navbar{
    padding: 0.28rem;
  }
#hm.row{
    margin-top: 280px;
}
.row{
    margin-top: 80px;
}

#intro{
    color: aliceblue;
}

#text1{
    padding-top:3%;
    font-size: large;
    color: rgb(167, 176, 184);
    text-align: left;
}


h1{
    color: aliceblue;
}
.Concept{
    margin-top: 250px;
    background-color: #313d49;
    border-radius: 20px;
    margin-left: 180px;

    margin-right: 180px;
    
}
.heading{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.content{

    font-size: large;
    color: rgb(202, 210, 217);
    text-align: center;
    word-spacing: 10px;
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 40px;
}
.buttun{
    text-align: center;
    margin-bottom: 30px;
}
#btn{
    background-color:rgb(28, 151, 38);
    padding : 10px;
    padding-left: 14px;
    padding-right: 14px;
    word-spacing: 3px;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    font-size:large;
}


#Mis{
    margin-left: 42%;
    color:aliceblue; 
    margin-bottom: 9%;
}
.boxes{
    margin-left: 8.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 20px;
}
.box1{
    background-color: #212a33;
    width: 80%;
    height: 318px;
    border-radius: 15px;
}
.box2{
    background-color: #212a33;
    width: 80%;
    height: 318px;
    border-radius: 15px;
}
.box3{
    margin-top: 70px;
    background-color: #212a33;
    width: 50%;
    height: 430px;
    border-radius: 15px;
    margin-left: 350px;
    margin-bottom: 30px;
}
.heading{
    text-align: center;
    color:rgb(200, 218, 233);
    padding-top: 30px;
}
#matter{
    text-align: center;
    font-size: 18px;
    word-spacing: 0.30em;
    color: rgb(137, 165, 194);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
}
#matter3{
    text-align: center;
    font-size: 18px;
    word-spacing: 0.30em;
    color: rgb(137, 165, 194);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.bttn10{
    text-align: center;
}
.bttn20{
    text-align: center;
}
.bttn30{
    text-align: center;
}
#bttn{
    background-color: #455c72;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: aliceblue;
    font-size: larger;
}
#Foot{
    background-color: #0e1419;
    border-style:double;
    border-color: #212a33;
    width: 100%;
}
#predi{
    margin-top: 30px;;
}

table {
    margin-left: 50px;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }

  th, td {
    border: 1px solid #3c6792;
    text-align: left;
    padding: 8px;
    background-color:#6d8dae; /* Set the background color for all cells */
  }
label,h1,#pre{
    color:aliceblue;
}
.out{
    color:aliceblue;
    margin-top: 250px;
    margin-left: 40px;
    width: 20%;
    font-size:x-large;
}
tr,th{
    background-color: #6d8dae;
    border-radius: 10px;
    padding : 10px;
    
}
#submit{
    margin-left: 25px;
    margin-top: 25px;
    width: 45%;
}
#output{
    margin-top: 10px;

}
.col2{
    padding-bottom: 1.2%;
    padding-top: 1.2%;
    padding-left: 10%;
}
.input1{
    width: 150%;
    text-align: center;
}
label{
    font-size: 22px;
}

#head{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
::placeholder{
    color: rgb(67, 68, 68);
    text-align: center;
    font-size: 18px;
}


.explore{
    padding:117px 0 95px;
    background: #f8fafb;
    max-width: 1700px;
}
.explore-content{margin-top: 78px;}

.single-explore-item {
    background: #fff;
    border: 1px solid #edeff1;
    border-radius: 3px;
    margin-bottom: 25px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
    height: 10em;
}
.single-explore-img{position:relative;overflow: hidden;}
.single-explore-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(162,172,177,.2);
}
.single-explore-img-info {
    position: absolute;
    bottom:-20px;
    left: 0;
    width: 100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-explore-item:hover .single-explore-img-info{
    opacity:1;
    visibility:visible;
    bottom:0px
}
.single-explore-img-info button{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 83px;
    height: 21px;
    line-height: 21px;
    background: #ff545a;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
}
.single-explore-image-icon-box {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right:  10px;
}
.single-explore-image-icon-box ul li {
    display:  inline-block;
    width: 30px;
    height:  28px;
    line-height:  28px;
    background: #252d32;
    text-align:  center;
    margin-left:  5px;
    color:  #cbcccd;
}

.single-explore-image-icon-box ul li:hover i{color: #267dff;}

.single-explore-txt {
    padding: 26px 25px 24px 15px;
    text-align: center;
    height: 10em;
}
.single-explore-txt h2{
    margin: 10px;
}

.single-explore-txt p{
    margin: 10px;
    text-align: center;
    font-size: 15px;
}

.single-explore-txt.bg-theme-1 .explore-rating{background: #70a9ff;}
.single-explore-txt.bg-theme-2 .explore-rating{background: #00c61c;}
.single-explore-txt.bg-theme-3 .explore-rating{background: #ffcc5d;}
.single-explore-txt.bg-theme-4 .explore-rating{background: #bd70ff;}
.single-explore-txt.bg-theme-5 .explore-rating{background: #ff7a40;}

.explore-rating-price,.explore-rating-price a {
    font-size: 12px;
    color: #777f85;
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px 0 20px;
}
.explore-rating-price a {margin:0;}
.explore-rating {
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    margin-right: 10px;
}
.explore-price {color: #f63138;}
.explore-price-box {
    display: inline-block;
    padding: 0 10px;
    margin: 0 8px;
    border-left: 1px solid #dde0e4;
    border-right: 1px solid #dde0e4;
}
.explore-person {
    padding-bottom: 28px;
    border-bottom: 1px solid #e1e5eb;
}
.explore-person-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.explore-person p {font-size: 12px;}
.explore-open-close-part {
    margin-top: 20px;
}
.close-btn {
    color: #f63138;
    text-transform: capitalize;
}
.close-btn.open-btn {color: #00c437;}
.explore-map-icon{text-align: right;}
.explore-map-icon a svg {
    width: 12px;
    height: 14px;
    margin-left: 23px;
    color: #767f86;
}
.explore-map-icon a svg:hover{color: #f63138;}
.single-explore-txt.bg-theme-2 .explore-map-icon a svg:hover{color: #00c437;}
.single-explore-item:hover{box-shadow: 0 10px 20px rgba(21,19,19,.2);}

.section-header{
    display:grid;
    justify-content: center;
}

.section-header p{
    color: rgb(137, 165, 194);
    font-size: 25px;
    font-weight: 300;
}

.section-header h2{
    color:rgb(200, 218, 233);
    display:flex;
    justify-content: center;
}

.explore{
    background-color:rgb(24,31,38);
}
.single-explore-item{
    background-color: #212a33;
}

.single-explore-item h2{
    color:rgb(200, 218, 233);
}

.single-explore-item p{
    color:rgb(137, 165, 194);
}

